<!doctype html>
<title>{% block title %}{% endblock %} ModType BlockChunk </title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1>Modular Type</h1>
  <p>Enter your string below</p>
</nav>

<section class="content">
    <form role="form" method="POST" action="/">
      <input type="text" name="letters">
      
      
      <div style="margin-top: 2vw;">
        <h4> Choose which typeface </h4>
        <div>
          <input type="radio" value="atlas" name="typeface">
          <label for="scales">Atlas</label>

        </div>
  
        <div>
          <input type="radio" value="pixel" name="typeface">
          <label for="scales">BPDots</label>
        </div>
      </div>
      <input type="submit">
      
      
    </form>
</section>